@page
@model OdeToFood.Pages.Restaurants.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h2> Lo sentimos, no pudimos encontrar lo que busca</h2>
<a asp-page="./List" class="btn btn-primary">Volver</a>

